@charset "UTF-8";
@import url(/Users/helen/Library/Fonts/Palestone-GrungeShadow.otf); 
@import url(/Users/helen/Library/Fonts/Palestone-Worn.otf);
@import url(/Users/helen/Library/Fonts/Palestone-Bold.otf);

:root{
    --cor-principal: #e9c664;
    --cor-logo: #D0953B;
    --cor-background: #ffffff ;
    --cor-apoio: #000000 ;

    --font-destaque: Palestone-GrungeShadow ;
    --font-principal: 'Times New Roman', Times, serif;
    --font-apoio: Arial, Helvetica, sans-serif;
   
}

@media all {
    *{
        box-sizing: border-box;
    }


    body{
        background-color: var(--cor-background);
        background-size: cover;
    }

    h2{
        color: var(--cor-apoio);
        font-family: var(--font-apoio);
        text-align: center;
        padding: auto; 
        font-weight: lighter;
    }

    main{
        text-align: center;
        padding: 5px;
        margin: auto;
        background-color: var(--cor-background);
        width: 90vw;
        height: 95vh;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .FirstButtom, .SecondButtom, .ThirdButtom {
        background-color: var(--cor-principal);
        border-radius: 10px;
        margin: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    a {
        text-decoration: none;
        text-align: center;
    }

    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        color: var(--cor-base);
        font-weight: lighter;
        text-align: center;
    }
}

/* versao mobile 390px a 1024px */
/*768 1023*/

@media screen and (min-width: 360px) and (max-width: 1023px) {

    h2{
        font-size: 3vw;
    }

    .logo{
        width: 45vw;
        margin: 32px;
    }

    .FirstButtom, .SecondButtom, .ThirdButtom {
    height: 10vh;
    width: 75%;
}
   
}

/* versao desktop 1024 px a 1365px */

@media screen and (min-width: 1024px) and (max-width: 1365px) {

    h2{
        font-size: 1.5vw;
    }

    .logo{
        width: 25vw;
        margin: 32px;
        
    }

    .FirstButtom, .SecondButtom, .ThirdButtom {
        height: 10vh;
        width: 40%;
    }
}
    
/* versao desktop 1366px px a 1440px */

@media screen and (min-width: 1366px) and (max-width: 1440px) {

    h2{
        font-size: 1.5vw;
    }

    .logo{
        width: 20vw;
        margin: 32px;
    }

    .FirstButtom, .SecondButtom, .ThirdButtom {
        height: 10vh;
        width: 40%;
        margin: 10px;
    }
   
}